.category-search-bar {
  position: relative;
}
.category-search-bar input {
  width: 239px;
  height: 32px;
  top: 584px;
  left: 138px;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: none;
  padding: 2px 30px;
}
.category-search-bar-icon {
  position: absolute;
  top: 5px;
  left: 10px;
}
