.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.navbar-wrapper li {
  list-style: none;
}

.navbar-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
