.home-page-main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.home-page-content-wrapper {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}
.home-page-content-wrapper-left-section {
  background-color: #f9f9f9;
  width: 276px;
  border-radius: 16px;
  padding: 10px;
}
.home-page-content-wrapper-right-section {
  flex-grow: 1;
  background-color: red;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
